* {
    font-family: "Platypi", serif;
    a {
        text-decoration: none;
    }
    li {
        list-style: none;
    }
    margin: 0;
    padding: 0;
    #seriText {
        font-size: 16px;
        color: #505050;
    }
    #devMile {
        font-size: 18px;
        color: #2F2F2F;
    }
}
#burgerAll {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    overflow: hidden;
    position: absolute;
    margin: 0 auto;
    display: none;
    background: #F9F9F7;
    background: linear-gradient(90deg,rgba(249, 249, 247, 1) 0%, rgba(248, 237, 251, 1) 28%, rgba(219, 247, 251, 1) 55%, rgba(255, 253, 255, 1) 68%);
    .withImgBurger {
        position: relative;
        #closeBurger {
            position: absolute;
            right: 110px;
            top: 30px;
            background: transparent;
            border: none;
        }
        #tyan {
            width: 100%;
            height: 1005px;
            object-fit: cover;
        }
    }
}
.withBtnBurger {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    a:nth-child(1){
        ul {
            animation-delay: 0.3s;
        }
    }
    a:nth-child(2){
        ul {
            animation-delay: 0.5s;
        }
    }
    a:nth-child(3){
        ul {
            animation-delay: 0.7s;
        }
    }
    a:nth-child(4){
        ul {
            animation-delay: 0.9s;
        }
    }
    a:nth-child(5){
        ul {
            animation-delay: 1.1s;
        }
    }
    a:nth-child(6){
        ul {
            animation-delay: 1.3s;
        }
    }
    a:nth-child(7){
        ul {
            animation-delay: 1.5s;
        }
    }
    a:nth-child(8){
        ul {
            animation-delay: 1.7s;
        }
    }
    a {
        border: 1px solid #2F2F2F;
        padding: 1rem;
        width: 50%;
        color: #686868;
        background-color: #FFFCF8;
        transition: 0.5s;
        &:hover {
            background-color: #F9EBFC;
        }
        ul {
        display: flex;
        width: auto;
        column-gap: 0.5rem;
        position: relative;
        opacity: 0;
        transform: translateX(-20px); /* Сдвиг влево */
        animation: fadeIn 0.5s forwards;
        #nazv {
            padding: 0.5rem;
            font-size: 35px;
        }
        #number {
            position: absolute;
            top: -10px;
        }
    }
    }
    
}
@keyframes fadeIn {
            to {
                opacity: 1;
                transform: translateX(0); /* Возвращение в исходное состояние */
            }
}
@media screen and (max-width:768px) {
    .withBtnBurger a {
        width: 87%;
    }
    #burgerAll .withImgBurger #closeBurger {
        right: 50px;
    }
}
@media screen and (max-width:402px) {
    #burgerAll {
        flex-direction: column-reverse;
    }
    #burgerAll .withImgBurger {
        width: 100%;
        height: 100px;
    }
    #burgerAll .withImgBurger #tyan {
        height: 100px;
        width: 100%;
    }
    .withBtnBurger a {
        width: 100%;
    }
    #burgerAll .withImgBurger #closeBurger {
        right: 10px;
        top: 30px;
    }
}